<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" th:fragment = "footer" style="color: dodgerblue">
    </br></br>
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 addore, Inc</p>
  </footer>
</div>
</body>
</html>