<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">

<head>
    <title>addore</title>
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>...</title>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        #topBtn {
            display: none;
            position: fixed;
            font-size: 24px;
            align-items: center;
            font-weight: bold;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #cbcdcd;
            color: white;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            opacity: 0.7;
        }

        #topBtn:hover {
            background-color: #ffc24b;
            color: white;
        }
        .sortable {
            cursor: pointer;
            position: relative;
        }

        .sortable:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .sortable.asc:after {
            background-image: url("/static/images/up.png"); /* Иконка вверх при возрастающей сортировке */
        }

        .sortable.desc:after {
            background-image: url("/static/images/down.png"); /* Иконка вниз при убывающей сортировке */
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
                document.getElementById("topBtn").style.display = "block";
            } else {
                document.getElementById("topBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        $(document).ready(function() {
            $('.sortable').click(function() {
                var table = $(this).closest('table');
                var rows = table.find('tbody > tr').get();
                var index = $(this).index();
                var isAscending = $(this).hasClass('asc');
                var isDescending = $(this).hasClass('desc');

                rows.sort(function(a, b) {
                    var aValue = $(a).find('td').eq(index).text();
                    var bValue = $(b).find('td').eq(index).text();

                    if ($.isNumeric(aValue) && $.isNumeric(bValue)) {
                        aValue = parseFloat(aValue);
                        bValue = parseFloat(bValue);
                    }

                    if (isAscending) {
                        return aValue > bValue ? 1 : -1;
                    } else {
                        return aValue < bValue ? 1 : -1;
                    }
                });

                table.find('th').removeClass('asc desc');
                if (isAscending) {
                    $(this).toggleClass('asc desc');
                } else if (isDescending) {
                    $(this).toggleClass('asc');
                } else {
                    $(this).toggleClass('asc');
                }

                table.find('tbody').empty().append(rows);
            });
        });
    </script>
</head>
<body>

<header th:insert ="~{fragments/header :: header}"></header>

<div class="container" style="margin-right: 100px">
    <div class="row">
        <div class="col" style="width: 300px"><br>
                <form class="needs-validation" style="padding: 10px; border-radius: 10px; background-color: lightgray" th:method="post" th:action="@{/filter}"><h4>Фильтры:</h4>
                    <div class="form-floating mb-3" style="color: black">
                        <input type="text" class="form-control" id="campaign" placeholder="campaign" name="campaign">
                        <label for="campaign">Название кампании содержит</label>
                    </div>
                    <div class="form-floating mb-3" style="color: black">
                        <input type="text" class="form-control" id="group" placeholder="group" name="group">
                        <label for="group">Название группы содержит</label>
                    </div>
                    <div class="form-floating mb-3" style="color: black">
                        <input type="text" class="form-control" id="query" placeholder="query" name="query">
                        <label for="group">Текст запроса содержит</label>
                    </div>
                    <h6>Показы</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="Showsselect" name="Showsselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="Shows" placeholder="0" name="Shows" min="0" max="100000">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>Клики</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required name="Clicksselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="Clicks" placeholder="0" name="Clicks" min="0" max="10000">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>CTR</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="CTRselect" name="CTRselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="CTR" placeholder="0" name="CTR" min="0" max="1" step="0.01">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>Цена клика</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="СostClickselect" name="СostClickselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="СostClick" placeholder="0" name="СostClick" min="0" max="100" step="0.01">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>Конверсии</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="Convselect" name="Convselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="Conv" placeholder="0" name="Conv" min="0" max="1000">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>%Конверсии</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="PerConvselect" name="PerConvselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="PerConv" placeholder="0" name="PerConv" min="0" max="100" step="0.01">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>Цена цели</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="СostConvselect" name="СostConvselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="СostConv" placeholder="0" name="СostConv" min="0" max="200" step="0.01">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h6>Расход</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" required id="Сonsselect" name="Сonsselect" style="width: 150px">
                                <option value="Больше" selected>Больше</option>
                                <option value="Меньше">Меньше</option>
                                <option value="Равно">Равно</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" style="height: 35px" id="Сons" placeholder="0" name="Сons" min="0" max="1000" step="0.01">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button class="w-100 btn btn-lg btn-light" style = "background-color: #ffc24b; border-color:lightgray;color: black;" type="submit">Показать</button>
                        </div>
                    </div>
                    <br>
                </form>
        </div>
        <div class="col">
            <br>
            <h4>Чистка </h4>
            <h5>все запросы представлены в таблице ниже 👇</h5>
            <br>
            <div class="row">
                <div class="col" style="padding-left: 5px">
                    <label> </label>
                    <label style="color: dimgrey">
                        <input type="checkbox" id="selectAllCheckbox"> Выделить все
                    </label>
                </div>
                <script>
                    // Обработка изменений состояния чекбокса "Выделить все"
                    const selectAllCheckbox = document.getElementById('selectAllCheckbox');
                    selectAllCheckbox.addEventListener('change', toggleAllCheckboxes);

                    // Функция для выделения или снятия выделения со всех чекбоксов
                    function toggleAllCheckboxes() {
                        const checkboxes = document.querySelectorAll('input[name="selectedMetrics"]');

                        checkboxes.forEach((checkbox) => {
                            checkbox.checked = selectAllCheckbox.checked;
                        });

                        updateButtonVisibility();
                    }
                </script>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div style="max-height: 400px; overflow-x: scroll; width: 1000px">
                    <table class="table table-striped table-sm table-b table-bordered" style="text-align: left">
                        <thead style="background-color: #ffc24b; border-color: white; color: black; font-weight: normal; border-bottom: none">
                        <tr style="font-weight: normal; border-top: none">
                            <th scope="col" style="width: 40px"></th>
                            <th class="sortable" style="font-weight: normal; border-bottom: none" scope="col">Кампания</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Группа</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Запрос</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Ключ</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Показы</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Клики</th>
                            <th class="sortable" style="font-weight: normal" scope="col">CTR</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Цена клика</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Конверсии</th>
                            <th class="sortable" style="font-weight: normal" scope="col">%Конверсии</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Цена цели</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Расход</th>
                            <th class="sortable" style="font-weight: normal" scope="col">Код валюты</th>
                        </tr>
                        </thead>
                        <tbody>
                           <div th:each="metric : ${metrics}">
                                <tr>
                                    <td style="padding-right: 10px; padding-left: 10px"><input type="checkbox" name="selectedMetrics" value="${metric.getId()}" /></td>
                                    <td th:text="${metric.getSearchQuery.getCampaign()}"></td>
                                    <td th:text="${metric.getSearchQuery.getAddGroup()}"></td>
                                    <td th:text="${metric.getSearchQuery.getText()}"></td>
                                    <td th:text="${metric.getSearchQuery.getKeyword()}"></td>
                                    <td th:text="${metric.getShows()}"></td>
                                    <td th:text="${metric.getClicks()}"></td>
                                    <td th:text="${#numbers.formatDecimal(((metric.getClicks() * 1.0) div metric.getShows()), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                                    <div th:if="${metric.getClicks()} != 0">
                                        <td th:text="${#numbers.formatDecimal((metric.getConsumption() div metric.getClicks()), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                                    </div>
                                    <div th:if="${metric.getClicks()} == 0">
                                        <td>-</td>
                                    </div>
                                    <td th:text="${metric.getConversions()}"></td>
                                    <td th:text="${#numbers.formatDecimal(((metric.getConversions()*1.0) div metric.getShows()), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                                    <div th:if="${metric.getConversions()} != 0">
                                        <td th:text="${#numbers.formatDecimal((metric.getConsumption() div metric.getConversions()), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                                    </div>
                                    <div th:if="${metric.getConversions()} == 0">
                                        <td>-</td>
                                    </div>
                                    <td th:text="${metric.getConsumption()}"></td>
                                    <td th:text="${metric.getCurrencyCode()}"></td>
                                </tr>
                           </div>
                        </tbody>
                    </table>
                   </div>
                </div>
                <div th:if="${#lists.isEmpty(metrics)}">
                    <div class="row">
                        <br>
                        <label style="text-align: center; color: firebrick">По Вашему запросу ничего не найдено</label>
                        <br>
                    </div>
                </div>
                <div class="row" style="text-align: left">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <form class="needs-validation" style="padding: 10px" th:method="post" th:action="@{/forecast}">
                            <div class="row">
                                <div class="col">
                                    <button class="w-100 btn btn-lg btn-light" style = "background-color: #ffc24b; border-color:white;color: black; font-size: smaller" type="submit">Прогноз минус-слов</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <form class="needs-validation" style="padding: 10px" th:method="post" th:action="@{/addQueries}">
                            <div class="row">
                                <div class="col">
                                    <button class="w-100 btn btn-lg btn-light" id="addButton" style = "background-color: #ffc24b; border-color:white;color: black; display: none; font-size: smaller" type="submit">В минус-фразы</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>
                        // Отслеживание изменений состояния чекбоксов
                        const checkboxes = document.querySelectorAll('input[name="selectedMetrics"]');
                        checkboxes.forEach((checkbox) => {
                            checkbox.addEventListener('change', updateButtonVisibility);
                        });

                        // Функция для обновления видимости кнопки
                        function updateButtonVisibility() {
                            const button = document.getElementById('addButton');
                            const checkedCheckboxes = document.querySelectorAll(
                                'input[name="selectedMetrics"]:checked'
                            );

                            // Проверка количества выбранных чекбоксов и установка видимости кнопки
                            if (checkedCheckboxes.length > 0) {
                                button.style.display = 'block';
                            } else {
                                button.style.display = 'none';
                            }
                        }
                    </script>
                </div>
            <div th:if="${not #lists.isEmpty(negPhrases)}">
            <div class="row">
                    <!--                <div class="col">-->
                    <div style="max-height: 400px; overflow-x: scroll; width: 1000px">
                        <table class="table table-striped table-sm table-b table-bordered" style="text-align: left">
                            <thead style="background-color: #ffc24b; border-color: white; color: black; font-weight: normal; border-bottom: none">
                            <tr style="font-weight: normal; border-top: none">
                                <th class="sortable" style="font-weight: normal; border-bottom: none" scope="col">Кампания</th>
                                <th class="sortable" style="font-weight: normal" scope="col">Группа</th>
                                <th class="sortable" style="font-weight: normal" scope="col">Запрос</th>
                                <th class="sortable" style="font-weight: normal" scope="col">Ключ</th>
                                <th class="sortable" style="font-weight: normal; border-bottom: none" scope="col">Минус-фразы</th>
                                <th scope="col" style="width: 40px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody>
                            <div th:each="negPhrase : ${negPhrases}">
                                <tr>
                                    <td th:text="${negPhrase.getSearchQuery.getCampaign()}"></td>
                                    <td th:text="${negPhrase.getSearchQuery.getAddGroup()}"></td>
                                    <td th:text="${negPhrase.getSearchQuery.getText()}"></td>
                                    <td th:text="${negPhrase.getSearchQuery.getKeyword()}"></td>
                                    <td th:text="${negPhrase.getText()}"></td>
                                    <td style="padding-right: 10px; padding-left: 10px"><input type="checkbox" name="selectedMetrics" value="${metric.getId()}" /></td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                    <!--                </div>-->
                    <!--                <div class="col"></div>-->
                    <!--                <div class="col"></div>-->
                    <!--                <div class="col"></div>-->
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<button onclick="topFunction()" id="topBtn" title="Go to top" style="padding: 0">^</button>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>